.MyAlert {
    padding: 10px 30px 10px 10px;
    border: 1px solid;
    border-radius: 5px;
    position: relative;
    margin-top: 50px;
}

.close-button {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.primary {
    color: darkblue;
    background: lightblue;
    border-color: darkblue;
}

.success {
    color: darkgreen;
    background: lightgreen;
    border-color: darkgreen;
}

.danger {
    color: darkred;
    background: pink;
    border-color: darkred;
}

.warning {
    color: darkorange;
    background: lightgoldenrodyellow;
    border-color: darkorange;
}