.App {
    max-width: 1000px;
    margin: 50px auto;
}

.ShowModalButton, .ShowAlertButton {
    background-color: #dad735;
    outline: none;
    cursor: pointer;
    border: 1px solid #966909;
    color: #966909;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    box-shadow: 2px 2px 2px #966909;
}

.ShowModalButton:hover, .ShowModalButton:active, .ShowAlertButton:hover, .ShowAlertButton:active {
    background-color: #a0db41;
    border: 1px solid #966909;
    color: #966909;
}